bontonutility/src/main/resources/HotelBeds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.hotelbeds.com/schemas/messages"
	targetNamespace="http://www.hotelbeds.com/schemas/messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="availabilityRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="stay">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute type="xs:date" name="checkIn" />
								<xs:attribute type="xs:date" name="checkOut" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="occupancies">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="occupancy" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="paxes">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="pax" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute type="xs:string" name="type"
																		use="optional" />
																	<xs:attribute type="xs:int" name="age"
																		use="optional" />
																	<xs:attribute type="xs:string" name="name"
																		use="optional" />
																	<xs:attribute type="xs:string" name="surname"
																		use="optional" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:int" name="rooms" use="required" />
									<xs:attribute type="xs:int" name="adults" use="required" />
									<xs:attribute type="xs:int" name="children" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="destination">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="code" />
								<xs:attribute type="xs:string" name="zone" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="hotels">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="hotel" minOccurs="0"
								maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="filter">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="minRate" />
								<xs:attribute type="xs:string" name="maxRate" />
								<xs:attribute type="xs:string" name="packaging" />
								<xs:attribute type="xs:string" name="minCategory" />
								<xs:attribute type="xs:string" name="maxCategory" />
								<xs:attribute type="xs:string" name="paymentType" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:boolean" name="dailyRate" />
		</xs:complexType>
	</xs:element>
	<xs:element name="availabilityRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="hotels">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="hotel" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="rooms">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="room" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="rates">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="rate" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="cancellationPolicies" >
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="cancellationPolicy" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute type="xs:float"
																														name="amount" />
																													<xs:attribute type="xs:date"
																														name="from" />
																													<xs:attribute type="xs:float"
																														name="hotelAmount" />
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="dailyRates">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="dailyRate" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute type="xs:int"
																														name="offset" />
																													<xs:attribute type="xs:float"
																														name="dailySellingRate" />
																													<xs:attribute type="xs:float"
																														name="dailyNet" />
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute type="xs:string" name="paymentType" />
																					<xs:attribute type="xs:string" name="packaging" />
																					<xs:attribute type="xs:string" name="boardCode" />
																					<xs:attribute type="xs:string" name="boardName" />
																					<xs:attribute type="xs:int" name="rooms" />
																					<xs:attribute type="xs:int" name="adults" />
																					<xs:attribute type="xs:int" name="children" />
																					<xs:attribute type="xs:string" name="childrenAges" />
																					<xs:attribute type="xs:string" name="rateKey" />
																					<xs:attribute type="xs:string" name="rateClass" />
																					<xs:attribute type="xs:string" name="rateType" />
																					<xs:attribute type="xs:float" name="net" />
																					<xs:attribute type="xs:int" name="allotment" />
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="code" />
															<xs:attribute type="xs:string" name="name" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="name" />
									<xs:attribute type="xs:string" name="code" />
									<xs:attribute type="xs:string" name="address" />
									<xs:attribute type="xs:string" name="categoryCode" />
									<xs:attribute type="xs:string" name="categoryName" />
									<xs:attribute type="xs:string" name="destinationCode" />
									<xs:attribute type="xs:string" name="destinationName" />
									<xs:attribute type="xs:string" name="zoneName" />
									<xs:attribute type="xs:int" name="zoneCode" />
									<xs:attribute type="xs:float" name="latitude" />
									<xs:attribute type="xs:float" name="longitude" />
									<xs:attribute type="xs:string" name="currency" />
									<xs:attribute type="xs:float" name="maxRate" />
									<xs:attribute type="xs:float" name="minRate" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:int" name="total" />
						<xs:attribute type="xs:string" name="checkIn" />
						<xs:attribute type="xs:string" name="checkOut" />
					</xs:complexType>
				</xs:element>
				<xs:element name="error" type="ErrorRS" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookingRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="booking">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="modificationPolicies">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="cancellation" />
											<xs:attribute type="xs:string" name="modification" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="holder">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="name" />
											<xs:attribute type="xs:string" name="surname" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="hotel">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="rooms">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="room" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="paxes">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="pax" maxOccurs="unbounded"
																				minOccurs="0">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute type="xs:int" name="roomId"
																								use="optional" />
																							<xs:attribute type="xs:string" name="type"
																								use="optional" />
																							<xs:attribute type="xs:int" name="age"
																								use="optional" />
																							<xs:attribute type="xs:string" name="name"
																								use="optional" />
																							<xs:attribute type="xs:string" name="surname"
																								use="optional" />
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="rates">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="rate" maxOccurs="1"
																				minOccurs="1">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="cancellationPolicies">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="cancellationPolicy">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute type="xs:float"
																														name="amount" />
																													<xs:attribute type="xs:dateTime"
																														name="from" />
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="rateBreakDown">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="rateSupplements">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="rateSupplement">
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute type="xs:string"
																																	name="code" />
																																<xs:attribute type="xs:string"
																																	name="name" />
																																<xs:attribute type="xs:date"
																																	name="from" />
																																<xs:attribute type="xs:date"
																																	name="to" />
																																<xs:attribute type="xs:float"
																																	name="amount" />
																																<xs:attribute type="xs:int"
																																	name="nights" />
																																<xs:attribute type="xs:int"
																																	name="paxNumber" />
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute type="xs:string" name="rateClass" />
																					<xs:attribute type="xs:float" name="net" />
																					<xs:attribute type="xs:string" name="rateComments" />
																					<xs:attribute type="xs:string" name="paymentType" />
																					<xs:attribute type="xs:string" name="packaging" />
																					<xs:attribute type="xs:string" name="boardCode" />
																					<xs:attribute type="xs:string" name="boardName" />
																					<xs:attribute type="xs:int" name="rooms" />
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="status" />
															<xs:attribute type="xs:int" name="id" />
															<xs:attribute type="xs:string" name="code" />
															<xs:attribute type="xs:string" name="name" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="supplier">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="vatNumber" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:date" name="checkIn" />
									<xs:attribute type="xs:date" name="checkOut" />
									<xs:attribute type="xs:int" name="code" />
									<xs:attribute type="xs:string" name="name" />
									<xs:attribute type="xs:string" name="categoryCode" />
									<xs:attribute type="xs:string" name="categoryName" />
									<xs:attribute type="xs:string" name="destinationCode" />
									<xs:attribute type="xs:string" name="destinationName" />
									<xs:attribute type="xs:byte" name="zoneCode" />
									<xs:attribute type="xs:string" name="zoneName" />
									<xs:attribute type="xs:float" name="latitude" />
									<xs:attribute type="xs:float" name="longitude" />
									<xs:attribute type="xs:float" name="totalNet" />
									<xs:attribute type="xs:string" name="currency" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="reference" />
						<xs:attribute type="xs:string" name="clientReference" />
						<xs:attribute type="xs:date" name="creationDate" />
						<xs:attribute type="xs:float" name="totalNet" />
						<xs:attribute type="xs:string" name="currency" />
						<xs:attribute type="xs:date" name="checkIn" />
						<xs:attribute type="xs:string" name="remark" />
						<xs:attribute type="xs:date" name="checkOut" />
					</xs:complexType>
				</xs:element>
				<xs:element name="error" type="ErrorRS" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookingCancellationRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="booking">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="modificationPolicies">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="cancellation" />
											<xs:attribute type="xs:string" name="modification" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="holder">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="name" />
											<xs:attribute type="xs:string" name="surname" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="hotel">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="rooms">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="room" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="paxes">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="pax" maxOccurs="unbounded"
																				minOccurs="0">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute type="xs:int" name="roomId"
																								use="optional" />
																							<xs:attribute type="xs:string" name="type"
																								use="optional" />
																							<xs:attribute type="xs:int" name="age"
																								use="optional" />
																							<xs:attribute type="xs:string" name="name"
																								use="optional" />
																							<xs:attribute type="xs:string" name="surname"
																								use="optional" />
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="rates">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="rate" maxOccurs="1"
																				minOccurs="1">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="cancellationPolicies">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="cancellationPolicy">
																										<xs:complexType>
																											<xs:simpleContent>
																												<xs:extension base="xs:string">
																													<xs:attribute type="xs:float"
																														name="amount" />
																													<xs:attribute type="xs:dateTime"
																														name="from" />
																												</xs:extension>
																											</xs:simpleContent>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="rateBreakDown">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="rateSupplements">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="rateSupplement">
																													<xs:complexType>
																														<xs:simpleContent>
																															<xs:extension base="xs:string">
																																<xs:attribute type="xs:string"
																																	name="code" />
																																<xs:attribute type="xs:string"
																																	name="name" />
																																<xs:attribute type="xs:date"
																																	name="from" />
																																<xs:attribute type="xs:date"
																																	name="to" />
																																<xs:attribute type="xs:float"
																																	name="amount" />
																																<xs:attribute type="xs:int"
																																	name="nights" />
																																<xs:attribute type="xs:int"
																																	name="paxNumber" />
																															</xs:extension>
																														</xs:simpleContent>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute type="xs:string" name="rateClass" />
																					<xs:attribute type="xs:float" name="net" />
																					<xs:attribute type="xs:string" name="rateComments" />
																					<xs:attribute type="xs:string" name="paymentType" />
																					<xs:attribute type="xs:string" name="packaging" />
																					<xs:attribute type="xs:string" name="boardCode" />
																					<xs:attribute type="xs:string" name="boardName" />
																					<xs:attribute type="xs:int" name="rooms" />
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="status" />
															<xs:attribute type="xs:int" name="id" />
															<xs:attribute type="xs:string" name="code" />
															<xs:attribute type="xs:string" name="name" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="supplier">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="vatNumber" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:date" name="checkIn" />
									<xs:attribute type="xs:date" name="checkOut" />
									<xs:attribute type="xs:int" name="code" />
									<xs:attribute type="xs:string" name="name" />
									<xs:attribute type="xs:string" name="categoryCode" />
									<xs:attribute type="xs:string" name="categoryName" />
									<xs:attribute type="xs:string" name="destinationCode" />
									<xs:attribute type="xs:string" name="destinationName" />
									<xs:attribute type="xs:byte" name="zoneCode" />
									<xs:attribute type="xs:string" name="zoneName" />
									<xs:attribute type="xs:float" name="latitude" />
									<xs:attribute type="xs:float" name="longitude" />
									<xs:attribute type="xs:float" name="totalNet" />
									<xs:attribute type="xs:string" name="currency" />
									<xs:attribute type="xs:string" name="cancellationAmount" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="reference" />
						<xs:attribute type="xs:string" name="cancellationReference" />
						<xs:attribute type="xs:string" name="clientReference" />
						<xs:attribute type="xs:date" name="creationDate" />
						<xs:attribute type="xs:float" name="totalNet" />
						<xs:attribute type="xs:string" name="currency" />
						<xs:attribute type="xs:date" name="checkIn" />
						<xs:attribute type="xs:string" name="remark" />
						<xs:attribute type="xs:date" name="checkOut" />
					</xs:complexType>
				</xs:element>
				<xs:element name="error" type="ErrorRS" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkRateRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="hotel" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="rooms">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="room" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="rates">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="rate">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="cancellationPolicies">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="cancellationPolicy">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute type="xs:float"
																											name="amount" />
																										<xs:attribute type="xs:date"
																											name="from" />
																										<xs:attribute type="xs:float"
																											name="hotelAmount" />
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute type="xs:string" name="rateKey" />
																		<xs:attribute type="xs:string" name="rateClass" />
																		<xs:attribute type="xs:string" name="rateType" />
																		<xs:attribute type="xs:string" name="rateComment" />
																		<xs:attribute type="xs:string" name="paymentType" />
																		<xs:attribute type="xs:string" name="packaging" />
																		<xs:attribute type="xs:string" name="boardCode" />
																		<xs:attribute type="xs:string" name="boardName" />
																		<xs:attribute type="xs:int" name="rooms" />
																		<xs:attribute type="xs:int" name="adults" />
																		<xs:attribute type="xs:int" name="children" />
																		<xs:attribute type="xs:float" name="net" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="code" />
												<xs:attribute type="xs:string" name="name" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:date" name="checkIn" />
						<xs:attribute type="xs:date" name="checkOut" />
						<xs:attribute type="xs:string" name="name" />
						<xs:attribute type="xs:string" name="code" />
						<xs:attribute type="xs:string" name="description" />
						<xs:attribute type="xs:string" name="categoryCode" />
						<xs:attribute type="xs:string" name="categoryName" />
						<xs:attribute type="xs:string" name="destinationCode" />
						<xs:attribute type="xs:string" name="destinationName" />
						<xs:attribute type="xs:string" name="zoneName" />
						<xs:attribute type="xs:int" name="zoneCode" />
						<xs:attribute type="xs:float" name="latitude" />
						<xs:attribute type="xs:float" name="longitude" />
						<xs:attribute type="xs:string" name="currency" />
						<xs:attribute type="xs:string" name="totalNet" />
					</xs:complexType>
				</xs:element>
				<xs:element name="error" type="ErrorRS" />								
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bookingRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="holder">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="surname"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="rooms">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="room" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paxes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="pax" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                	<xs:attribute type="xs:int" name="roomId"/>
                                  	<xs:attribute type="xs:string" name="type"/>
                                  	<xs:attribute type="xs:int" name="age"/>
                                  	<xs:attribute type="xs:string" name="name"/>
                                  	<xs:attribute type="xs:string" name="surname"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="rateKey"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paymentData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paymentCard">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="cardType"/>
                    <xs:element type="xs:int" name="cardNumber"/>
                    <xs:element type="xs:int" name="expiryDate"/>
                    <xs:element type="xs:int" name="cardCVC"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="contactData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="phoneNumber"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="clientReference"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	<xs:complexType name="ErrorRS">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="message" type="xs:string" minOccurs="1"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>